form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin-bottom: 30px
}

.results {
  background-color: rgb(229, 229, 229);
  border-radius: 15px;
  height: 600px;
  width: 100%;
}

input[type=text] {
  width: 300px
}

.results {
  display: flex;

  & > p {
    margin: 1.5em
  }

  & > .search {
    width: 35%;
    text-align: center;
  }

  & > .results-output {
    margin: 1.5em;
    overflow: auto;
    width: 65%;
    background-color: rgb(251, 250, 250);
    border: 2px black solid;
    border-radius: 25px;
  }
}

